* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dyslexia {
    font-family: 'OpenDyslexicRegular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-weight: lighter;
    font-size: 2.7em;
    text-align: center;
    margin-bottom: .25em;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
}

#controls {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1em;
}

.wide {
    width: 100%;
    align-items: center;
}

.warning {
    color: #BC4A40;
    padding: .5em;
    text-align: center;
    margin-bottom: 1em;
}

a.safety-link {
    color: #BC4A40;
}

.label {
    text-align: center;
    padding: .5em;
}

.label a {
    color: #0073b2;
}

button {
    padding: .5em 1em;
    border: 0;
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
    background: #126995;
    color: #fff;
    cursor: pointer;
    border-radius: 10em;
}

#config-row {
    margin: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.config-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color-display {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.color-box {
    width: 6em;
    height: 4em;
    border-radius: .25em;
    border: 4px solid black;
    content: ' ';
    margin-top: 5px;
    cursor: pointer;
}

.color-box.active {
    box-shadow: #1af 0 0 10px;
}

input[type=text] {
    max-width: 40em;
    width: 100%;
    font-size: .9em;
    padding: .5em;
    border-radius: 10em;
    border: 1px solid #ccc;
}

#mobile-emergency-escape {
    z-index: 3;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30vw;
    height: 30vh;
    display: block;
}

textarea {
    padding: .5em;
    border-radius: .5em;
    border: 1px solid #ccc;
    width: 300px;
    height: 123px;
    display: block;
    margin-top: 5px;
    font-size: 1em;
}

#spiral-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}

#spiral-video-overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

#subliminal-text {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    pointer-events: none !important;
    background: none !important;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    flex-wrap: nowrap;
}

#subliminal-text.wall {
    max-width: 200vw;
    max-height: 200vh;
    width: 200vw;
    left: -50vw;
    height: 200vh;
    top: -50vh;
    line-height: 0.9;
    font-weight: bolder;
}

p {
    max-width: 40em;
    font-size: 1.1em;
    line-height: 1.4;
}

@media screen and (max-width: 700px) {
    #subliminal-text {
        font-size: 3em;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 2em;
    }

    .warning, .label {
        padding: .5em 0;
        font-size: .9em;
    }

    #subliminal-text {
        font-size: 10vw;
        word-wrap: break-word;
        padding: 20px;
        white-space: break-spaces;
    }
}