<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>hypnospiral visualizer</title>
    <meta name="description" content="Generate a nice, hypnotic spiral~"/>
    <meta name="robots" content="index, archive"/>
    <link rel="canonical" href="https://hypnospiral.vercel.app/"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@PrinceZyntaks"/>
    <meta name="twitter:title" content="hypnospiral visualizer"/>
    <meta name="twitter:image" content="https://hypnospiral.vercel.app/SITE_PREVIEW.jpg"/>
    <meta name="twitter:image:alt" content="A green spiral on a black background."/>
    <meta name="twitter:description" content="Generate a nice, hypnotic spiral~"/>
    <meta name="og:title" content="hypnospiral visualizer"/>
    <meta name="og:url" content="https://hypnospiral.vercel.app/"/>
    <meta name="og:description" content="Generate a nice, hypnotic spiral~"/>
    <meta name="og:image" content="https://hypnospiral.vercel.app/SITE_PREVIEW.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/favicon.png">
</head>
<body>
<div id="app"></div>
</body>
</html>
